<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Neutron"
        tools:targetApi="31">
        <activity
            android:name=".activities.session.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.session.addactivities.AddRevenuesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.session.addactivities.AddTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.session.ProjectRevenueActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.navigation.Splashscreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron.FullScreen"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.session.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neutron"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
    </application>

</manifest>